{
    "extends": [
      "@sotream/eslint-config-react-js"
    ],
    "rules": {
      // overrides ...
      'linebreak-style': ['error', process.platform === 'win32' ? 'windows' : 'unix']
    }
  }
